.mailing-list {
    .quform {
        .quform-input-select {
            &::before {
                display: none;
            }

            &::after {
                content: "";
                background-image: url("https://staging.appetiser.com.au/rainscape/wp-content/uploads/2026/01/arrow_carrot-down.png");
                width: 31px;
                height: 31px;
                position: absolute;
                right: 23px;
                top: 50%;
                translate: 0% -50%;
                pointer-events: none;
            }

            .quform-field-select {
                width: 100% !important;
                border-radius: 6px !important;
                color: #B4B5BB !important;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

        }

        .quform-label-text {
            display: none;
        }

        .quform-input {
            margin-bottom: 0;

            ::placeholder {
                color: #B4B5BB;
            }
        }

        .quform-spacer {
            padding: 0;
            margin-bottom: 18px;
        }

        .quform-field {
            border-radius: 6px;
            border: none;
            padding: 9px 23px;
            background: #2B2D3D !important;
            border: 1px solid #2B2D3D !important;
            min-height: 56px !important;
        }

        textarea {
            resize: none;
            height: 131px !important;
        }

        .quform-submit {
            border-radius: 100px;
            height: 64px;
            margin-left: auto;
            margin-right: auto;
            border: none !important;
            font-weight: 600;
            line-height: 32px;
        }

        .quform-element-submit {
            margin: unset !important;

            .quform-button-submit {
                margin: unset !important;
            }
        }
    }
}