.mailing-list-1 {
    .quform {
        .quform-label {
            display: none;
        }

        input {
            margin: 0;
            min-height: 56px;
        }

        .quform-input {
            margin: 0;
        }

        .quform-input-select {
            max-width: 180px !important;
            width: 180px !important;

            &::before {
                display: none;
            }

            &::after {
                content: "";
                background-image: url("https://staging.appetiser.com.au/rainscape/wp-content/uploads/2026/01/arrow_carrot-down.png");
                width: 31px;
                height: 31px;
                position: absolute;
                right: 23px;
                top: 50%;
                translate: 0% -50%;
                pointer-events: none;
            }

            .quform-field-select {
                max-width: 180px !important;
                width: 100% !important;
                background: #2B2D3D !important;
                border: 1px solid #373949 !important;
                border-radius: 6px !important;
                color: #B4B5BB !important;
                min-height: 56px !important;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

        }

        .quform-field-email {
            border: none !important;
            border-radius: 6px !important;
            outline: none !important;
            padding: 9px 23px !important;
            width: 100% !important;
            background: #2B2D3D !important;
            color: #B4B5BB !important;

            &::placeholder {
                color: #B4B5BB !important;
            }
        }

        .quform-submit {
            width: 100%;
            border-radius: 40px !important;
            border: none !important;
            min-height: 64px;
            background: var(--e-global-color-accent) !important;
            color: white !important;
        }

        .quform-child-elements {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 16px !important;
            overflow: hidden;

            &::before,
            &::after {
                display: none;
            }
        }

        .quform-spacer {
            margin: 0 !important;
            padding: unset !important;
        }

        .quform-element-email {
            max-width: calc(100% - 180px - 16px);
            width: 100%;
        }

        .quform-button-submit {
            margin: unset;
        }

        .quform-element-submit {
            width: 100%;
            margin: unset;
        }
    }
}

@media only screen and (max-width: 999px) {}

@media only screen and (max-width: 600px) {
    .mailing-list-1 {
        .quform {
            .quform-element-email {
                max-width: 100%;
                width: 100%;
            }

            .quform-child-elements {
                flex-direction: column;
                align-items: unset;
                background-color: transparent;
                border-radius: 0;
                overflow: hidden;
            }

            .quform-element-submit {
                max-width: 100% !important;
            }

            .quform-input-select {
                max-width: 100% !important;
                width: 100% !important;

                .quform-field-select {
                    max-width: 100% !important;
                }

            }
        }
    }
}