.mailing-list-1 {
    .quform {
        .quform-label {
            display: none;
        }
        input {
            margin: 0;
            min-height: 56px;
        }
        .quform-input {
            margin: 0;
        }
        .quform-field-email {
            border: none !important;
            border-top-left-radius: 40px !important;
            border-bottom-left-radius: 40px !important;
            outline: none !important;
            padding-left: 30px !important;
        }
        .quform-submit {
            width: 100%;
            border-radius: 40px !important;
            border: none !important;
            min-height: 56px;
        }
        .quform-child-elements {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 40px;
            overflow: hidden;
        }
        .quform-spacer {
            margin: 0 !important;
            padding: unset !important;
        }
        .quform-element-email {
            max-width: 360px;
            width: 100%;
        }
        .quform-button-submit {
            margin: unset;
        }
        .quform-element-submit {
            max-width: 240px;
            width: 100%;
            margin: unset;
        }
    }
}

@media only screen and (max-width: 600px) {
    .mailing-list-1 {
        .quform {
            .quform-element-email {
                max-width: 100%;
                width: 100%;
            }
            .quform-child-elements {
                flex-direction: column;
                justify-content: center;
                background-color: transparent;
                border-radius: 0;
                overflow: hidden;
            }
            .quform-field-email {
                border: none;
                border-radius: 40px !important;
                margin-bottom: 10px !important;
            }
            .quform-submit {
                border-radius: 40px !important;
            }
            .quform-element-submit {
                max-width: 100% !important;
            }
        }
    }
}
